body { 
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif; 
    margin: 0; 
    height: 100vh;
    background: url("/images/background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    background-color: #345995;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2)
}
.maintitle {
    font-size: 32px;
    font-weight: 700;
    color: #f5f9ff;
}

.grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    gap: 18px; 
    margin-left: 10px;
    margin-right: 10px;
}
.card { 
    padding: 15px; 
    background-color: #ffffff;
    border-radius: 12px; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.1); 
    color:#1b1b2f;
    font-weight: 500;
}
.card:hover{
    transform: translateY(-4px);
}
h2 { 
    margin-left: 20px;
    color:#1b1b2f; 
}
#ecgChart { 
    max-height: 300px; 
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    margin: 0 20px 60px 20px;
}

.btn{
    position: fixed;
    bottom:20px;
    right: 20px;
    height: 35px;
    width: 100px;
    background-color: #66bfbf;
    color:#fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #58a5a5;
}